<section class="banner" [@fade]="true">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ml-2">
                <h1 class="name">Shashank Kumar</h1>
                <p>Coding Enthusiast</p>
                <button class="btn btn-primary" (click)="openResumeDialog()">Resume</button>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/home2.png" class="img-fluid">
            </div>
            
        </div>
    </div>
</section>
