<section class="education text-white" [@fade]="true">
    <div class="container-md">
        <div class="row mt-5">
            <div class="col-md-12">
               <mat-stepper [linear]="false" 
               [orientation]="smallSize?'vertical':'horizontal'" 
               labelPosition="bottom" 
               class="text-white"
               [disableRipple]="true">
                   <mat-step [completed]="true">
                    <ng-template matStepLabel><p class="text-white">School</p></ng-template>
                    <div class="card mt-md-5">
                        <div class="card-body">
                          <h3 class="card-title">Vanasthali Public School, Noida</h3>
                          <p class="card-text">Class 10th: 10 CGPA</p>
                          <p class="card-text">Class 12th: 92.6 %</p>
                          <a href="https://www.vpsnoida.com" target="_blank" class="btn btn-primary">VPS,noida</a>
                        </div>
                    </div>
                   </mat-step >
                   <mat-step [completed]="true">
                    <ng-template matStepLabel><p class="text-white">College</p></ng-template>
                    <div class="card mt-md-5">
                        <div class="card-body">
                          <h3 class="card-title">NIT Meghalaya</h3>
                          <p class="card-text">Pursuing Btech in Electronics and Communication Engineering (2019-2023)</p>
                          <p class="card-text">CGPA : 8.7</p>
                          <a href="https://www.nitm.ac.in" target="_blank" class="btn btn-primary">NITM</a>
                        </div>
                    </div>
                   </mat-step>
                   <mat-step [completed]="true">
                    <ng-template matStepLabel><p class="text-white">Job & Internship</p></ng-template>
                    <div class="card mt-md-5">
                        <div class="card-body">
                          <h3 class="card-title"><strong>Surveyaan</strong></h3>
                          <p class="card-text">Aviation and Aerospace Component Manufacturing Company</p>
                          <p class="card-text"><strong>Role</strong> : Software Engieering Intern</p>
                          <p class="card-text"><strong>Duration</strong> : July 2021 till now</p>
                          <strong class="card-text">Achievement And Tasks</strong>
                          <ul>
                              <li>
                                Worked on technologies like Angular2+,python,firebase
                              </li>
                              <li>
                                Worked with different npm libraries
                              </li>
                              <li>
                                Worked on live projects
                              </li>
                              <li>
                                Created new and responsive features
                              </li>
                              <li>
                                Involved in modifying existing features.
                              </li>
                          </ul>
                          <a href="https://www.surveyaan.com" target="_blank" class="btn btn-primary">Surveyaan</a>
                        </div>
                    </div>
                   </mat-step>
               </mat-stepper>
            </div>
        </div>
    </div>
</section>