.skills{
    position: relative;
    z-index: 1;
    .card{
        backdrop-filter: blur(1px);
        background-color: rgba(108, 1, 124, 0.6);
        //box-shadow: rgba(135, 17, 153, 0.25) 0px 2px 5px -1px, rgba(135, 17, 153, 0.3) 0px 1px 3px -1px;
        box-shadow: rgba(108, 1, 124, 0.16) 0px 1px 4px;
    }
    .card:hover{
        transform: scale(1.2);
        //transform: rotate(0deg);
        transition: 0.65s;
    }
}